<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gczhu.mapper.UserMapper">
    <select id="selectList" resultType="user">
        select * from user
    </select>

    <!--优先匹配带数据库厂商id的语句-->
    <select id="selectList" resultType="user" databaseId="mysql">
        select * from user
    </select>

    <!--    public void addUser(User user);-->
    <insert id="addUser" parameterType="user">
        insert into user (name,gender,create_time)
        values(#{name},#{gender},#{createTime})
    </insert>

    <!--    public int updateUser(User user);-->
    <update id="updateUser" parameterType="user">
        update user set name=#{name},gender=#{gender} where id=#{id}
    </update>
</mapper>
